$primaryBlue:               #005890;
$primaryYellow:             #fec725;
$primaryMagenta:            #d72563;
$primaryTeal:               #66cbb5;
$lightBlue:                 #00c1ed;
$primaryGrey:               #424242;
$lightGrey:                 #cdcdde;
$bodyText:                  #232323;
$linkText:                  #008fcc;
$bgGrey:                    #dedede;
$white:                     #fcfcfc;

$borderRadius:              8px;