html {
  body.html {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    strong {
      font-weight: 600;
    }
    a {
      cursor: pointer;
      color: $linkText;
    }
    .caption {
      font-size: 0.9em;
      color: $primaryGrey;
      padding-bottom: 5px;
    }
    #main {
      @media screen and (max-width: $screen-xs-max) {
        &.container {
          padding: 0;
        }
        .row {
          margin: 0;
        }
        #main-content-section {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
    .pager li > a, .pager li > span {
      border-radius: $borderRadius;
    }
    ol.search-results {
      padding-left: 0;
      margin-left: 0;
    }
    .search-form .form-item-keys-1 {
      display: inline-block;
    }
    h1, h1.page-header {
      color: $primaryBlue;
      border-bottom: none;
      font-size: 42px;
      margin: 20px 0;
    }
    @media screen and (max-width: $screen-xs-max) {
      h1, h1.page-header {
        font-size: 32px;
        margin: 20px 0 10px
      }
      .text-center-xs {
        text-align: center;
      }
    }
    h2 {
      color: $linkText;
    }
    h3 {
      color:  $primaryBlue;
      font-weight: 700;
    }
    .no-right-margin {
      margin-right: 0 !important;
    }
    .float-right {
      float: right;
    }
    .breadcrumb {
      margin: 0 15px;
    }
    .btn-outline {
      transition: 0.3s;
      color: $linkText;
      background-color: transparent;
      border-color: $primaryBlue;
      &:hover {
        background: $primaryBlue;
        a {
          color: $white;
        }
      }
      a {
        text-decoration: none;
      }
    }
    #skip-link {
      margin: 0;
      a, a:visited {
        font-weight: 700;
        display: block;
        width: 100%;
        padding: 2px 0 3px;
        text-align: center;
        background-color: $lightGrey;
        color: $primaryGrey;
        border-bottom: 1px solid $lightGrey;
        text-decoration: underline;
      }
    }
    footer#footer {
      background: $primaryBlue;
      @media screen and (min-width: $screen-sm-min) {
        margin-top: 2em;
      }
      padding: 2em 0;
      ul.menu {
        padding-left: 0;
        width: 100%;
        li {
          list-style: none;
          a {
            color: $white;
            text-decoration: none;
            &:hover {
              border-bottom: 1px solid $white;
            }
          }
        }
      }
      .logo {
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 15px 0;
        #footer-logo-afma img {
          width: 314px;
        }
        #footer-logo-tsra img {
          width: 314px;
          height: 60px;
        }
        #footer-logo-qld-gov img {
          width: 180px;
        }
      }
    }
    footer#footer-menu {
      padding: 15px 0;
      ul.menu {
        padding-left: 0;
        width: 100%;
        text-align: center;
        li {
          list-style: none;
          display: inline-block;
          @media screen and (min-width: $screen-sm-min) {
            &:not(:last-of-type) {
              a {
                padding-right: 1.5em;
                border-right: 1px solid $primaryGrey;
              }
            }
          }
          a {
            color: $bodyText;
          }
        }
      }
    }
    .navbar {
      margin-bottom: 0;
    }
    header#header {
      @media screen and (max-width: $screen-xs-max) {
        nav.navbar {
          padding-left: 15px;
        }
      }
      font-weight: 300;
      font-size: 18px;
      background: $primaryBlue;
      color: $white;
      padding: 15px 0;
      .row {
        width: calc(100% + 15px);
      }
      #logos {
        div.logo {
          display: inline-block;
          margin-right: 15px;
          #logo-pzja img {
            width: auto;
            height: 80px;
          }
          #logo-afma img {
            height: 60px;
            width: auto;
            margin-left: 15px;
          }
          #logo-tsra img {
            height: 60px;
            width: auto;
            margin-top: 1px;
            padding-left: 5px;
          }
          #logo-qld-gov img {
            height: 60px;
            width: auto;
            margin-left: 20px;
          }
        }
        // Responsive logo sizes
        @media screen and (max-width: $screen-xs-max) {
          div.logo {
            margin-right: 5px;
            #logo-pzja img {
              width: auto;
              height: 60px;
            }
            #logo-afma, #logo-tsra, #logo-qld-gov {
              display: none;
            }
          }
        }
        @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          div.logo {
            margin-right: 5px;
            #logo-pzja img {
              width: auto;
              height: 48px;
            }
            #logo-afma img {
              height: 40px;
              width: auto;
              margin-left: 5px;
            }
            #logo-tsra img {
              height: 32px;
              width: auto;
              margin-top: 11px;
            }
            #logo-qld-gov img {
              width: 96px;
              height: auto;
              margin-left: 5px;
              margin-top: 13px;
            }
          }
        }
      }

      div#crimfish-phone {
        display: inline-block;
        padding: 5px;
        color: $white;
        width: 100%;
        @media screen and (min-width: $screen-md-min) {
          text-align: left;
        }
      }
      #mini-menu {
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            border-bottom: 1px solid $white;
          }
        }
      }
      #mini-menu {
        margin-top: 15px;
        ul {
          width: 100%;
          list-style: none;
          padding-left: 0;
          @media screen and (min-width: $screen-md-min) {
            right: -10px;
          }
          position: relative;
          li {
            display: inline-block;
            vertical-align: middle;
            &:first-of-type {
              border-right: 2px solid $white;
              padding-right: 1em;
              margin-right: 0.5em;
            }
          }
          @media screen and (max-width: $screen-xs-max) {
            margin-top: 10px;
            margin-bottom: 0;
          }
        }
      }
    }
    #navigation {
      .sf-menu li:hover > ul,
      .sf-menu li.sfHover > ul {
        left: 0;
        top: 3em;
      }
      .content {
        position: relative;
        @media screen and (min-width: $screen-sm-min) {
          padding-left: 75px;
        }
        /*
        @media only screen and (min-width: $screen-sm-min) {
          float: left;
          left: calc(50% - 15px);
        }
        */
        // Home link
        #menu-1125-1 {
          a {
            overflow: hidden;
            text-indent: -9999px;
            &:before {
              background-image: url('../img/home.png');
              background-repeat: no-repeat;
              background-size: cover;
              background-position-x: 0;
              background-position-y: 0;
              width: 18px;
              height: 18px;
              content: "";
              text-indent: 0;
              float: left;
              margin: 0;
              font-style: normal;
              display: inline-block;
              text-decoration: inherit;
              width: 1em;
              font-variant: normal;
              text-transform: none;
              line-height: 1em;
            }
            &:hover:before {
              background-position-y: -18px;
            }
          }
          @media screen and (max-width: $screen-xs-max) {
            display: none !important;
          }
        }
        & > ul > li {
          a {
            @media screen and (min-width: $screen-sm-min) {
              padding: 15px 55px !important;
            }
            @media screen and (max-width: $screen-xs-max) {
              padding: 15px !important;
            }
          }
          &:not(:last-of-type) {
            @media only screen and (min-width: $screen-sm-min) {
              &:before {
                content: "";
                position: absolute;
                right: 0;
                z-index: 100;
                top: 25%;
                width: 2px;
                height: 50%;
                background: $primaryGrey;
              }
            }
          }
          @media only screen and (max-width: $screen-xs-max) {
            border-top: 1px solid $primaryGrey;
          }
          & > ul > li {
            &:not(:first-of-type) {
              @media only screen and (max-width: $screen-xs-max) {
                border-top: 1px solid $primaryGrey;
              }
              @media only screen and (min-width: $screen-sm-min) {
                border-top: 1px solid $primaryGrey;
              }
            }
          }
        }
        ul.menu {
          position: relative;
          list-style-type: none;
          li {
            -webkit-transition: background-color .2s ease-out;
            -moz-transition: background-color .2s ease-out;
            -o-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
            a {
              padding: 15px;
              font-size: 18px;
              color: $primaryGrey;
              &.sf-depth-1 {
                font-weight: 700;
              }
              &:hover, &:active {
                text-decoration: none;
                background: $primaryGrey;
                color: $white;
              }
            }
            & > ul {
              background: lighten($lightGrey, 10%);
              li a {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    // Tiles
    #homepage-tiles {
      background: $bgGrey;
      padding-top: 15px;
      box-sizing: border-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 2em auto;
      @media screen and (max-width: $screen-xs-max) {
        margin-top: 0;
      }
      margin-bottom: 0;
      .homepage-tile {
        @media only screen and (min-width: $screen-md-min) {
          min-height: 450px;
          .views-field-field-feature-image field-content {
            max-height: 275px;
            overflow: hidden;
          }
        }
        width: 100%;
        overflow: hidden;
        background: $white;
        margin-bottom: 15px;
        padding-bottom: 15px;
        img {
          max-width: 100%;
          height: auto;
          // Default image bottom border colour
          padding: 0;
          margin: 0;
          border-radius: 0;
          border: none;
          -moz-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          &:hover {
            -moz-transform: scale(1.03);
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
          }
        }
        .views-field-title, .views-field-body, .views-field-view-node, .views-field-field-title-when-promoted {
          padding: 0 15px;
        }
      }
      // Title feature image bottom border colour
      article:nth-of-type(1) .views-field-field-feature-image {
        border-bottom: 8px solid $primaryYellow;
      }
      article:nth-of-type(2) .views-field-field-feature-image {
        border-bottom: 8px solid $primaryBlue;
      }
      article:nth-of-type(3) .views-field-field-feature-image {
        border-bottom: 8px solid $primaryMagenta;
      }
      article:nth-of-type(4) .views-field-field-feature-image {
        border-bottom: 8px solid $primaryTeal;
      }
      article:nth-of-type(5) .views-field-field-feature-image {
        border-bottom: 8px solid $lightBlue;
      }
      article:nth-of-type(6) .views-field-field-feature-image {
        border-bottom: 8px solid $primaryGrey;
      }
    }

    // Carousel
    #homepage-carousel {
      @media only screen and (min-width: $screen-sm-min) {
        margin-left: -25px;
        margin-right: -25px;
        width: calc(100% + 50px);
      }
      .carousel-inner {
        @media only screen and (min-width: $screen-sm-min) {
          img {
            width: 100%;
            height: auto;
          }
        }
        .slider-text {
          position: absolute;
          bottom: 10%;
          padding-left: calc(10% - 15px);
          max-width: 75%;
          color: $white;
          a {
            color: $white;
            text-decoration: none;
            &:hover:after {
              content: "";
              border-bottom: 2px solid $white;
              position: absolute;
              padding-left: calc(10% - 15px);
              width: 100%;
              bottom: 3px;
            }
          }
          @media screen and (max-width: $screen-xs-max) {
            p {
              display: none;
            }
          }
        }
        h3 {
          text-shadow: 2px 2px 2px $primaryGrey;
          font-size: 24px;
          color: $white;
          @media screen and (min-width: $screen-md-min) {
            font-size: 32px;
            text-shadow: 2px 2px 4px $primaryGrey;
          }
        }
        p {
          font-weight: 300;
          font-size: 1.25em;
          text-shadow: 2px 2px 4px $primaryGrey;
          a {
            text-decoration: none;
            &:after {
              font-family: "govstrap-icons";
              content: "\ea3c";
              padding-left: 0.5em;
            }
          }
        }
        @media screen and (max-width: $screen-sm-min) {
          img {
            position: relative;
            left: -33%;
          }
        }
      }
      .carousel-indicator-wrapper {
        position: absolute;
        bottom: 10px;
        width: 100%;
        right: 30px;
        left: auto;
        .carousel-indicators {
          @media screen and (min-width: $screen-md-min) {
            position: relative;
            bottom: 0;
            text-align: right;
            width: 100%;
            right: 0;
            left: auto;
            float: right;
          }
          @media screen and (max-width: $screen-sm-max) {
            text-align: center;
            width: 100%;
            margin-left: -42%;
            margin-bottom: 0px;
          }
        }
      }
      .carousel-control {
        background: none;
        cursor: pointer;
        width: 5%;
        color: $white;
        @media screen and (max-width: $screen-sm-max) {
          width: 0%;
          margin-left: -9999px;
          margin-right: 9999px;
        }
      }
      .carousel-control .icon-rarrow {
        left: 50%;
        margin-left: -20px;
      }
      .carousel-control .icon-larrow {
        right: 50%;
        margin-right: -20px;
      }
      .carousel-control .icon-larrow,
      .carousel-control .icon-rarrow {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        z-index: 3;
        display: inline-block;
      }
    }
    // Search box
    .region-highlighted {
      position: relative;
      @media only screen and (min-width: $screen-sm-min) {
        margin-left: -45px;
        margin-right: -45px;
        width: calc(100% + 90px);
        img {
          width: 100%;
        }
        .breadcrumb {
          margin: 0;
          padding: 15px 45px;
          background: none;
        }
      }
      .block-search-api-page {
        position: absolute;
        top: 0;
        right: -25px;
        background: $primaryTeal;
        @media only screen and (max-width: $screen-xs-max) {
          right: 20px;
          background: transparent;
        }
        padding: 0 1em;
        border-radius: 0 0 $borderRadius $borderRadius;
        .form-type-textfield {
          display: inline-block;
          input {
            @media screen and (min-width: $screen-sm-min) {
              width: 235px;
            }
            @media screen and (max-width: $screen-xs-max) {
              width: 242px;
            }
            height: 36px;
            border: none;
            border-radius: $borderRadius 0 0 $borderRadius;
            padding-left: .5em;
            padding-right: 20px;
          }
        }
        input.form-submit {
          margin-left: -16px;
          background: $primaryYellow;
          font-family: "govstrap-icons", sans-serif;
          transition: all 0.2s;
          width: 36px;
          height: 36px;
          border: none;
          border-radius: $borderRadius;
          padding-left: 0;
          text-indent: 10px;
          letter-spacing: 2em;
          font-size: 17px;
          color: $primaryBlue;
          overflow: hidden;
          //@include nca-icons;
          &:hover,
          &:active,
          &:focus {
            background: darken($primaryYellow, 5%);
            color: $lightBlue;
          }
        }
      }
    }

    // Mobile menu
    @media only screen and (min-width: $screen-sm-min) {
      .sf-accordion-toggle {
        display: none;
      }
    }
    @media only screen and (max-width: $screen-xs-max) {
      #navigation.container {
        padding: 0;
      }
      li.menuparent i.icon-plus,
      li.menuparent i.icon-minus {
        &:before {
          margin-right: .5em;
          position: relative;
          top: 1px;
        }
      }
      .sf-accordion-toggle {
        display: block;
        background: $bgGrey;
        border-top: 1px solid $white;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 15px);
        text-align: center;
        padding: 0 0 5px;
        vertical-align: middle;
        a {
          color: $primaryBlue;
          font-size: 18px;
          text-decoration: none;
          i {
            font-size: 22px;
            position: relative;
            top: 3px;
          }
        }
      }
      .sf-hidden {
        display: none !important;
      }
      .sf-menu {
        width: 100% !important;
        display: none;
      }
      .sf-menu ul {
        width: 100%;
      }
      .sf-menu.mobnav-active {
        display: block !important;
      }
      .sf-menu li {
        float: none !important;
        display: block !important;
        width: 100% !important;
      }
      .sf-menu li a {
        float: none !important;
        display: block;
      }
      .sf-menu > li > ul {
        display: none;
        position: static !important;
      }
      .sf-menu > li > ul > li > a {
        font-size: 15px !important;
      }
      .sf-menu > li > ul.mobnav-sub-active {
        display: block !important;
      }
    }
    // Sidebar menu
    // current page's parent - we only want to display the one in the active trail
    .menu-block-active-parent > ul.menu {
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
      border-top: 1px solid $lightGrey;
      border-left: 1px solid $lightGrey;
      border-right: 1px solid $lightGrey;
      border-radius: 3px;
      & > li {
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 10px 15px;
        font-weight: 700;
        background: $bgGrey;
        a {
          color: $primaryBlue;
          display: block;
          text-decoration: none;
        }
        &:hover {
          background: darken($bgGrey, 10%);
        }
      }
    }
    .region-sidebar-second {
      .block-menu-block {
        .content > div > ul.menu {
          border-bottom: 1px solid $lightGrey;
          border-left: 1px solid $lightGrey;
          border-right: 1px solid $lightGrey;
        }
        ul.menu {
          list-style: none;
          padding-left: 0;
          li {
            list-style: none;
            padding: 0;
            margin: 0;
            a {
              padding: 10px 15px;
              color: $primaryBlue;
              background: lighten($bgGrey, 10%);
              border-bottom: 1px solid $lightGrey;
              display: block;
              font-size: 0.95em;
              &:hover, &:active {
                text-decoration: none;
                background: lighten($primaryBlue, 10%);
                color: $white;
              }
            }
          }
          li:last-of-type {
            a {
              border-bottom: none;
            }
          }
        }
      }
      #block-menu-block-govcms-menu-block-sidebar {
        .menu-block-wrapper > ul > li.active-trail {
          a {
            color: $primaryBlue;
            background: #fff;
            border-left: 5px solid $primaryBlue;
            &:hover, &:active {
              background: lighten($primaryBlue, 10%);
              color: $white;
            }
            &.active {
              background: lighten($lightBlue, 40%);
              &:hover {
                background: lighten($primaryBlue, 10%);
              }
            }
          }
          & > ul {
            background: $white;
            & > li {
              & > a {
                font-size: 0.9em;
                padding-left: 30px;
                color: $primaryBlue;
              }
            }
          }
        }
        .menu-block-wrapper > ul > li:not(.active-trail) > ul {
          display: none;
        }
      }
    }
    // Mobile tweaks
    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      #navigation.container {
        margin-left: 0;
        margin-right: 0;
        .content ul.menu li a {
          padding: 10px;
          font-size: 14px;
          padding: 12px 6px;
        }
      }
    }
    @media only screen and (max-width: $screen-sm-max) {
      .bean-image-and-text.highlight {
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }
      .breadcrumb {
        display: none;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
        ol {
          margin-left: 0;
          margin-right: 0;
        }
      }
      .region-highlighted .block-search-api-page input.form-submit {
        top: 2px;
        position: relative;
      }
    }
    // Main content
    #page-content {
      img {
        max-width: 100%;
        height: auto;
        display: inline-block;
        margin: 1em 0;
      }
      table {
        min-width: 85%;
        border: none;
        tr {
          th {
            border-bottom: 3px solid $lightGrey;
            padding: 3px 5px;
          }
          td {
            border-bottom: 1px solid $lightGrey;
            padding: 3px 5px;
          }
        }
      }
      .list-table {
        caption {
          font-size: 24px;
        }
        th {
          background: $bgGrey;
          border-bottom: 1px solid $white;
        }
        th.subhead {
          background: lighten($bgGrey, 10%);
        }
      }
    }
    // Search result
    .search-api-page-results {
      ul.pager {
        li {
          margin: 0;
          @media screen and (max-width: $screen-xs-max) {
            &.pager-item,
            &.pager-current {
              display: none;
            }
            padding: 0;
            a {
              padding: 5px 10px;
            }
          }
        }
      }
    }
    // Back to top
    #to-top {
      position: fixed;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: $primaryGrey;
      opacity: 0.6;
      filter: alpha(opacity=40);
      width: 55px;
      height: 55px;
      bottom: 5px;
      right: 5px;
      cursor: pointer;
      color: $white;
      font-size: 32px;
      text-align: center;
      display: none;
      padding: 6px 0 0 7px;
      z-index: 14;
    }
  }
}
// Adjust the search box on non-homepage pages
.region-highlighted {
  .block-search-api-page {
    @media screen and (min-width: $screen-sm-min) {
      right: -25px !important;
    }
    @media screen and (max-width: $screen-xs-max) {
      right: 35px !important;
    }
  }
}
@media screen and (min-width: $screen-sm-min) {
  body.not-front {
    .block-search-api-page {
      right: 0px !important;
      .form-type-textfield {
        input {
          width: 210px !important;
        }
      }
    }
  }
}

body.front {
  @media screen and (max-width: $screen-xs-max) {
    #main-content-section {
      padding: 0 !important;
    }
  }
}

// Fix the lightbox issue in IE11
.ekko-lightbox .modal-dialog {
  flex: 100%!important;
  margin-left: 0;
  margin-right: 0;
  .close {
    font-size: 32px;
  }
}

// Fix RHS sidebar position when no breadcrumb is displayed
#content aside {
  margin-top: 25px;
}